@media (min-width: 1025px) {
    .col-lg-3 {
    flex : 0 0 auto;
    width: 25%;
    margin-bottom:24px;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
    .col-lg-3 {
    flex : 0 0 auto;
    width: 50%;
    margin-bottom: 24px;
}
#best-seller .card .best-seller-image img{
    padding: auto;
}


/* CONTACT START */
#contact .contact-details .contact-box {
    width: calc(50% - 10px);
    margin: 10px 5px;
}
#contact .contact-details .contact-box .contact-text p{
    padding: 0px 20px 0px 0px;
}

/* CONTACT END */

 /* ---- ALL FOOTER START */

 #footer-all .contains-one .one h2 {
     font-size: 20px;
 }

 #footer-all .contains-one .one p {
     font-family: var(--second-family);
     font-weight: 400;
     font-size  : 14px;
     line-height: 175%;
     color      : var(--paragraph-color);
     width      : 350px;
 }

 #footer-all .contains-one .tow {
     display        : flex;
     flex-direction : column;
     justify-content: center;
     align-items    : center;
     padding-right  : 10px;
 }

 #footer-all .contains-one .tow input {
     width    : 100%;
     font-size: 14px;
 }

 #footer-all .contains-one .tow .footer-btns {
     width    : 100%;
     font-size: 14px;
 }

 /* ----FOOTER END */

 /* SHOP GRID START */
#shop .shop-product {
    grid-template-columns: repeat(2, 1fr);
}

/* SHOP GRID END */


 /* =======ALL FOOTER START======== */
  #footer-all .contains-one .one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #footer-all .contains-one .one h2 {
     font-size: 20px;
 }

 #footer-all .contains-one .one p {
     width      : 500px!important;
     text-align: center;
     /* background-color: red; */
 }

 #footer-all .contains-one .tow {
     display        : flex;
     flex-direction : column;
     justify-content: center;
     align-items    : center;
     padding-right  : 10px;
 }

 #footer-all .contains-one .tow input {
     width    : 80%;
     font-size: 14px;
 }

 #footer-all .contains-one .tow .footer-btns {
     width    : 80%;
     font-size: 14px;
 }
 #footer-all .contains-tow .one{
    /* background-color: red; */
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 #footer-all .contains-tow{
    /* background-color: greenyellow; */
 }
 #footer-all .contains-tow .one span {
    text-align: center;
 }

 #footer-all .contains-tow .one P {
     /* background-color: green; */
     text-align: center;
     width:75% ;

 }

 #footer-all .contains-tow .one .all-footer-icons {
     /* background-color: green; */
     justify-content: center;
 }

 #footer-all .contains-tow .tow {
     height       : 250px !important;
     margin-bottom: -30px;
     /* background-color: green; */
     /* display: inline; */
     /* width: calc(25% - 20px); */
 }

 #footer-all .contains-tow .tow h4 {
     margin-bottom: -30px;
 }

 #footer-all .contains-tow .three {
     height       : 250px !important;
     margin-bottom: -30px;
     /* background-color: rgb(13, 13, 184); */
 }

 #footer-all .contains-tow .three h4 {
     margin-bottom: -30px;
 }

 #footer-all .contains-tow .four {
     height       : 250px !important;
     margin-bottom: -30px;
     /* background-color: gold; */
 }

 #footer-all .contains-tow .four h4 {
     margin-bottom: -30px;
 }

 #footer-all .contains-tow .five {
     height       : 250px !important;
     margin-bottom: -30px;
     /* background-color: chocolate; */
 }

 #footer-all .contains-tow .five h4 {
     margin-bottom: -30px;
 }

#footer-all .contains-three .one p {
    /* font-size: 10px; */
    margin-top: 20px;
}

#footer-all .contains-three .tow ul{
    margin-top: -15px;
    /* background-color: red; */
}
 /* =======ALL FOOTER END======== */

}
@media (max-width: 767px) {
    .col-lg-3 {
    flex : 0 0 auto;
    width: 100%;
    margin-bottom: 24px;
}



/* CONTACT START */
#contact .contact-details .contact-box {
    width: 100%;
    /* padding: 0px 20px 0px 0px; */
    /* width: 100%; */
}
#contact .contact-details .contact-box .contact-text p{
    padding: 0px 20px 0px 0px;
}

/* CONTACT END */
}

/* ====================<<<<<<<<<<<<ALL PAGE FOOTER CSS START>>>>>>>>>>>>>>>================================ */

@media (max-width: 575px) {

    /* POPUP START */

#popup .popup-contains {

    width             : 300px;
    height            : 500px;
}
#popup .popup-contains h4{
    font-size: 20px;
}
#popup .popup-contains p{
    font-size: 14px;
    width: 280px;
}
#popup .popup-contains .sub{
    text-align: center;
}
#popup .popup-contains .sub input{
    width: 290px;
    padding: 5px;
}
#popup .popup-contains .sub .sub-btn{
    width: 290px;
    margin-top: 10px;
    padding: 5px;
    padding-left: 0px;
    margin-left: 0px;
    display: inline-block;
    text-align: center;
}
#popup .popup-cross {
    position          : absolute;
    top               : 10px;
    right             : 10px;
    border: none!important;
}
    /* POPUP END */
    
    /* BANNER START */
#banner .parent .banner_slider .container h4 {
    font-size  : 18px;
}
#banner .parent .banner_slider .container h2 {
    font-size  : 34px;
}
#banner .parent .banner_slider .container p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size  : 14px;
}
    /* BANNER END */
    /* NEW ARRIVLE PRODUCT START */

#product .parent-product .child-product {
    
}
    /* NEW ARRIVLE PRODUCT END */

    /* SPA START */

#spa-cosmetics .spa-contains h4 {
    font-size          : 22px;
    /* width              : 400px; */
}

#spa-cosmetics .spa-contains P {
    font-size          : 16px;
    /* width              : 400px; */
}
    /* SPA END */

    /* DEALS START */

#deals .deals-parent .deals .deals-contains{
    left: 10px;
}
#deals .deals-parent .deals .deals-contains h4 {
    font-size          : 22px;
}
#deals .deals-parent .deals .deals-contains h2 {
    font-size          : 20px;
}
#deals .deals-parent .deals .deals-contains P {
    font-size          : 16px;
    width: 300px;
}
    /* DEALS END */

    /* HOME FOOTER START */
/* #footer .over-icon {
    background-color: greenyellow;
    height        : auto;
    display       : flex;
    flex-direction: column;
    top: 0px;
    margin-bottom: 50px;

} */
#footer{
    height: 1000px;
    /* position: relative; */
}
#footer .all-ft{
    margin-top: 200px;
}
#footer .over-icon {
    /* background-color: greenyellow; */
    height        : auto;
    /* position      : absolute; */
    /* left          : 0; */
    /* top           : -100px; */
    width         : 100%;
    display       : flex;
    flex-direction: column;
    box-shadow    : 0 0 50px 0 rgba(21, 26, 50, 0.1);
    background    : var(--comon-colot);
    margin-bottom: 100px;
}

#footer .over-icon .over-contains {
    /* background-color: rgb(228, 192, 12); */
    height         : 100%;
    justify-content: center;
    display        : flex;
    align-items    : center;
    margin         : 0;
    padding        : 0;
    /* width       : 100%; */
}

#footer .over-icon .over-contains ul {
    /* align-items: start; */
    border-right    : none;
    /* background-color: red; */
}

#footer .over-icon .over-contains ul li h4 {
    font-size  : 18px;
}
#footer .over-icon .over-contains ul li p{
    font-size  : 14px;
}

#footer .footer-icons .one{
    display            : flex;
    flex-direction: column;
    height: auto;
    margin: 0;
}
    /* HOME FOOTER END */

    /* ---- ALL FOOTER START */

    #footer-all .contains-one .one h2 {
    font-size  : 20px;
}
#footer-all .contains-one .one p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size  : 14px;
    line-height: 175%;
    color      : var(--paragraph-color);
    width      : 350px;
}
#footer-all .contains-one .tow {
    display            : flex;
    flex-direction: column;
    justify-content    : center;
    align-items        : center;
    padding-right      : 10px;
}
#footer-all .contains-one .tow input {
    width                : 100%;
    font-size: 14px;
}
#footer-all .contains-one .tow .footer-btns {
    width                : 100%;
    font-size            : 14px;
}
    /* ----FOOTER END */

    /* SHOP GRID START */
#shop .shop-product {
    grid-template-columns: repeat(1, 1fr);
}

/* SHOP GRID END */


/* =======ALL FOOTER START======== */
#footer-all .contains-tow .one span {
    /* background-color: green; */
    text-align: center;
    margin-top: 30px;
}

#footer-all .contains-tow .one P {
    /* background-color: green; */
    text-align: center;
}

#footer-all .contains-tow .one .all-footer-icons {
    /* background-color: green; */
    justify-content: center;
}

#footer-all .contains-tow .tow {
    height          : 250px !important;
    margin-bottom: -30px;
}

#footer-all .contains-tow .tow h4{
    margin-bottom: -30px;
}

#footer-all .contains-tow .three {
    height          : 250px !important;
    margin-bottom: -30px;
}
#footer-all .contains-tow .three h4 {
    margin-bottom: -30px;
}
#footer-all .contains-tow .four {
    height          : 250px !important;
    margin-bottom: -30px;
}
#footer-all .contains-tow .four h4 {
    margin-bottom: -30px;
}
#footer-all .contains-tow .five {
    height          : 250px !important;
    margin-bottom: -30px;
}
#footer-all .contains-tow .five h4 {
    margin-bottom: -30px;
}

#footer-all .contains-three {
    display: flex;
    flex-direction: column!important;
    /* background-color: red; */
    height: 100px;

}

#footer-all .contains-three .one{
    float: left;
}
#footer-all .contains-three .one p {
    /* font-size: 10px; */
    margin-top: 20px;
}

#footer-all .contains-three .tow ul {
    margin-top         : -15px;
    /* background-color: red; */
}
/* =======ALL FOOTER END======== */
#about-head {
    visibility: hidden;
    opacity   : 0;
    display: none;
}

/* ========blog start ======== */
#blog .blog-parent .blog-child {
    flex : 0 0 auto;
    width: 100%;
}

/* ========blog end ======== */

/* SHOP GRID START */
#shop .shop-product {
    grid-template-columns: repeat(1, 1fr);
}

/* SHOP GRID END */


/* WISHLIST START */
 #wishlist .wish .wish-contains .img-text .wish-img {
    padding: 10px;
    width  : 60px;
    height : 60px;

}

#wishlist .wish .wish-contains .img-text .buy-btn {
    width      : 50px;
    height     : 20px;
    font-size  : 10px;
    line-height: 20px;
    margin-top : 16px;
}

#wishlist .wish .wish-contains .img-text p {
    font-size: 14px;
}

#wishlist .wish .wish-contains .img-text .cross-icon {
    padding  : 0px;
    font-size: 10px;
}

#wishlist .wish .wish-contains .img-text .price {
    font-size             : 10px;
    /* background-color      : green; */
    width                 : 40px;
    text-align            : right;
    /* padding            : 0px 10px; */
}

#wishlist .wish .wish-contains .img-text .name {
    text-align            : left;
    font-size             : 10px;
    padding               : 0px;
    /* background-color      : red; */
    /* display            : inline; */
    width                 : 150px;
}

#wishlist .wish .wish-contains .img-text .col-lg-4 {
    /* background-color: red; */
}

#wishlist .wish .wish-contains .img-text .in-stock {
    /* background-color: red !important; */
    width           : 80px;
    text-align      : center;
    font-size       : 10px;
}


#wishlist .wish .wish-contains .wish-head .name-wish .head-text1 {
    text-indent: 20px;
    font-size  : 12px;
}

#wishlist .wish .wish-contains .wish-head .name-wish .head-text2 {
    text-indent: 145px;
    font-size  : 12px;
}

#wishlist .wish .wish-contains .wish-head .name-wish .head-text3 {
    text-indent: 20px;
    font-size  : 12px;
}

/* WISHLIST END */

#our-story .story-contains {
    width:10%;

}
.col-sm-6 {
    flex : 0 0 auto;
    width: 50%
}
}

@media (min-width: 576px) and (max-width: 768px) {
#our-story .story-contains {
    width: 50%;

}
    /* BANNER START */
#banner .parent .banner_slider .container h4 {
    font-size: 18px;
}

#banner .parent .banner_slider .container h2 {
    font-size: 40px;
}

/* BANNER END */
    #footer-all .contains-one .one h2 {
    font-size: 22px;
}
    #footer-all .contains-one .one p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size  : 16px;
    line-height: 175%;
    color      : var(--paragraph-color);
    width      : 350px;
}

/* SHOP GRID START */
#shop .shop-product {
    grid-template-columns: repeat(2, 1fr);
}

/* SHOP GRID END */



#about-head {
    visibility: hidden;
    opacity   : 0;
}
/* ========blog start ======== */
#blog .blog-parent .blog-child {
    flex : 0 0 auto;
    width: 100%;
}

/* ========blog end ======== */

/* WISHLIST START */
#wishlist .wish .wish-contains .img-text .wish-img {
    padding: 10px;
    width  : 80px;
    height : 80px;

}

#wishlist .wish .wish-contains .img-text .buy-btn {
    width        : 100px;
    height       : 40px;
    font-size    : 16px;
    line-height  : 40px;
    /* margin-top: 30px; */
}

#wishlist .wish .wish-contains .img-text p {
    font-size: 14px;
}

#wishlist .wish .wish-contains .img-text .cross-icon {
    padding: 0px 0px 0px 5px;
}

#wishlist .wish .wish-contains .img-text .price {
    font-size          : 14px;
    /* background-color: green; */
    width              : 90px;
    padding            : 0px 10px;
    text-align: right;
}

#wishlist .wish .wish-contains .img-text .name {
    text-align            : left;
    font-size             : 14px;
    padding               : 0px;
    /* background-color   : red; */
    /* display            : inline; */
    width                 : 150px;
}

#wishlist .wish .wish-contains .img-text .col-lg-4 {
    /* background-color: red; */
}

#wishlist .wish .wish-contains .img-text .in-stock {
    /* background-color: red!important; */
    width     : 95px;
    text-align: center;
}

#wishlist .wish .wish-contains .img-text .buy-btn {
    font-size  : 12px;
    padding    : 0px;
    margin-left: 0px;
    width: 80px;
    height: 30px;
    line-height: 30px;
}

#wishlist .wish .wish-contains .wish-head .name-wish .head-text1 {
    text-indent: 20px;
    font-size  : 14px;
}

#wishlist .wish .wish-contains .wish-head .name-wish .head-text2 {
    text-indent: 200px;
    font-size  : 14px;
}

#wishlist .wish .wish-contains .wish-head .name-wish .head-text3 {
    text-indent: 20px;
    font-size  : 14px;
}

/* WISHLIST END */

}

@media (min-width: 768px) and (max-width: 991px) {
    #footer-all .contains-one .one h2 {
    font-size: 24px;
}
#footer-all .contains-one .one p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size  : 16px;
    line-height: 175%;
    color      : var(--paragraph-color);
    width      : 350px;
}

/* ========blog start ======== */
#blog .blog-parent .blog-child {
    flex : 0 0 auto;
    width: calc(50% - 40px);
}

/* ========blog end ======== */
/* WISHLIST START */
#wishlist .wish .wish-contains .img-text .wish-img {
    padding: 10px;
    width  : 80px;
    height : 80px;

}

#wishlist .wish .wish-contains .img-text .buy-btn {
    width        : 100px;
    height       : 40px;
    font-size    : 16px;
    line-height  : 40px;
    /* margin-top: 30px; */
}

#wishlist .wish .wish-contains .img-text p {
    font-size: 14px;
}

#wishlist .wish .wish-contains .img-text .cross-icon {
    padding: 20px;
}

#wishlist .wish .wish-contains .img-text .price {
    font-size          : 14px;
    float              : left;
    /* background-color: green; */
    width              : 150px;
    padding            : 0px 20px;
}

#wishlist .wish .wish-contains .img-text .name {
    text-align            : left;
    font-size             : 14px;
    padding               : 0px;
    /* background-color   : red; */
    /* display            : inline; */
    width                 : 150px;
}

#wishlist .wish .wish-contains .img-text .col-lg-4 {
    /* background-color: red; */
}

#wishlist .wish .wish-contains .img-text .in-stock {
    /* background-color: red!important; */
    width     : 100px;
    text-align: left;
}

#wishlist .wish .wish-contains .img-text .buy-btn {
    font-size  : 14px;
    padding    : 0px;
    margin-left: 40px;
}

#wishlist .wish .wish-contains .wish-head .name-wish .head-text1 {
    text-indent: 20px;
    font-size  : 16px;
}

#wishlist .wish .wish-contains .wish-head .name-wish .head-text2 {
    text-indent: 250px;
    font-size  : 16px;
}

#wishlist .wish .wish-contains .wish-head .name-wish .head-text3 {
    text-indent: 40px;
    font-size  : 16px;
}

/* WISHLIST END */
}

@media (min-width: 992px) and (max-width: 1199px) {
    #footer-all .contains-one .one h2 {
    font-size: 26px;
}
#footer-all .contains-one .one p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size  : 18px;
    line-height: 175%;
    color      : var(--paragraph-color);
    width      : 350px;
}
#leadership .leader-contains {
    width: 50%;
}

/* ========blog start ======== */
#blog .blog-parent .blog-child {
    flex : 0 0 auto;
    width: calc(50% - 40px);
}

/* ========blog end ======== */
}

@media (min-width: 1200px) {
    #footer-all .contains-one .one h2 {
    font-size: 28px;
}
#footer-all .contains-one .one p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size  : 18px;
    line-height: 175%;
    color      : var(--paragraph-color);
    width      : 350px;
}


}

@media (min-width:320px) and (max-width:395px){
    /* WISHLIST START */
#wishlist .wish .wish-contains .img-text .wish-img {
    padding: 0px;
    width  : 60px;
    height : 60px;

}

#wishlist .wish .wish-contains .img-text .buy-btn {
    width      : 50px;
    height     : 20px;
    font-size  : 8px;
    line-height: 20px;
    margin-bottom : 15px;
}

#wishlist .wish .wish-contains .img-text p {
    font-size: 8px;
}

#wishlist .wish .wish-contains .img-text .cross-icon {
    padding  : 0px;
    font-size: 8px;
}

#wishlist .wish .wish-contains .img-text .price {
    font-size                : 8px;
    /* background-color      : green; */
    width                    : 50px;
    text-align               : center;
    /* padding               : 0px 10px; */
}

#wishlist .wish .wish-contains .img-text .name {
    text-align               : left;
    font-size                : 8px;
    padding                  : 0px;
    /* background-color      : red; */
    /* display               : inline; */
    width                    : 80px;
}

#wishlist .wish .wish-contains .img-text .col-lg-4 {
    /* background-color: red; */
}

#wishlist .wish .wish-contains .img-text .in-stock {
    /* background-color: red !important; */
    width     :48px;
    text-align: left;
    font-size : 8px;
}


#wishlist .wish .wish-contains .wish-head .name-wish .head-text1 {
    text-indent: 20px;
    font-size  : 10px;
}

#wishlist .wish .wish-contains .wish-head .name-wish .head-text2 {
    text-indent: 95px;
    font-size  : 10px;
}

#wishlist .wish .wish-contains .wish-head .name-wish .head-text3 {
    text-indent: 10px;
    font-size  : 10px;
}

/* WISHLIST END */
}

@media (max-width:375px){
    /* WISHLIST START */
#wishlist .wish .wish-contains .img-text .wish-img {
    padding:10px;
    width  : 60px;
    height : 60px;

}

#wishlist .wish .wish-contains .img-text .buy-btn {
    width      : 50px;
    height     : 20px;
    font-size  : 8px;
    line-height: 20px;
    margin-bottom : 15px;
}

#wishlist .wish .wish-contains .img-text p {
    font-size: 8px;
}

#wishlist .wish .wish-contains .img-text .cross-icon {
    padding  : 0px;
    font-size: 8px;
}

#wishlist .wish .wish-contains .img-text .price {
    font-size                : 8px;
    /* background-color      : green; */
    width                    : 50px;
    text-align               : center;
    /* padding               : 0px 10px; */
}

#wishlist .wish .wish-contains .img-text .name {
    text-align               : left;
    font-size                : 8px;
    padding                  : 0px;
    /* background-color      : red; */
    /* display               : inline; */
    width                    : 100px;
}

#wishlist .wish .wish-contains .img-text .col-lg-4 {
    /* background-color: red; */
}

#wishlist .wish .wish-contains .img-text .in-stock {
    /* background-color: red !important; */
    width     :52px;
    text-align: left;
    font-size : 8px;
}


#wishlist .wish .wish-contains .wish-head .name-wish .head-text1 {
    text-indent: 20px;
    font-size  : 10px;
}

#wishlist .wish .wish-contains .wish-head .name-wish .head-text2 {
    text-indent: 115px;
    font-size  : 10px;
}

#wishlist .wish .wish-contains .wish-head .name-wish .head-text3 {
    text-indent: 10px;
    font-size  : 10px;
}

/* WISHLIST END */
}

@media (min-width:375px) and (max-width:667px){
    /* WISHLIST START */
#wishlist .wish .wish-contains .img-text .wish-img {
    padding:10px;
    width  : 60px;
    height : 60px;

}

#wishlist .wish .wish-contains .img-text .buy-btn {
    width      : 50px;
    height     : 20px;
    font-size  : 10px;
    line-height: 20px;
    margin-bottom : 15px;
}

#wishlist .wish .wish-contains .img-text p {
    font-size: 10px;
}

#wishlist .wish .wish-contains .img-text .cross-icon {
    padding  : 0px;
    font-size: 10px;
}

#wishlist .wish .wish-contains .img-text .price {
    font-size                : 10px;
    /* background-color      : green; */
    width                    : 50px;
    text-align               : center;
    /* padding               : 0px 10px; */
}

#wishlist .wish .wish-contains .img-text .name {
    text-align               : left;
    font-size                : 10px;
    padding                  : 0px;
    /* background-color      : red; */
    /* display               : inline; */
    width                    : 120px;
}

#wishlist .wish .wish-contains .img-text .col-lg-4 {
    /* background-color: red; */
}

#wishlist .wish .wish-contains .img-text .in-stock {
    /* background-color: red !important; */
    width     :60px;
    text-align: left;
    font-size : 10px;
}


#wishlist .wish .wish-contains .wish-head .name-wish .head-text1 {
    text-indent: 20px;
    font-size  : 12px;
}

#wishlist .wish .wish-contains .wish-head .name-wish .head-text2 {
    text-indent: 115px;
    font-size  : 12px;
}

#wishlist .wish .wish-contains .wish-head .name-wish .head-text3 {
    text-indent: 10px;
    font-size  : 12px;
}

/* WISHLIST END */
}

/* ====================<<<<<<<<<<<<ALL PAGE FOOTER CSS END>>>>>>>>>>>>>>>>>>================================ */